$key: #3886df;

body {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 1.1rem;
}

h1.sub, h2.sub, h3.sub, h4.sub, h5.sub, h6.sub {
  font-size: 90%;
  color: #666;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover, &.hover {
    color: rgba(#000, 0.6);
  }
}

.middleman-logo {
  margin-bottom: 1rem;
  width: 10rem;
}

main {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  padding: 4em 1rem;
  .homepage & {
    padding-top: 0;
  }
}


.parallax-strip {
  display: block;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  height: 200px;
  overflow: hidden;
  .parallax {
    width: 100%;
  }
  .homepage & {
    margin-top: 0;
  }
}

aside {
  margin-top: 6em;
}

@mixin hover {
  @media screen and (min-width: 1300px) {
    &:hover {
      @content;
    }
  }

  @media screen and (max-width: 1300px) {
    &.hover {
      @content;
    }
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3em;
  background-color: $key;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  z-index: 1000;
  transition: 900ms all cubic-bezier(.32,.11,.39,.97);
  overflow: hidden;
  vertical-align: middle;
  padding: 0 2em;

  @media screen and (max-width: 1300px) {
    flex-direction: column;
    flex-wrap: nowrap;
    height: 2em;
  }

  @media screen and (min-width: 1300px) {
    .menu-button {
      display: none !important;
    }
  }

  .navlink {
    height: auto;
    display: inline-block;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    color: #fafafa;
    text-decoration: none;
    padding: 0.6em;
    margin: 0 0.4em 0.2em 0.4em;
    &:hover, &.hover {
      background-color: white;
      color: $key;
    }

    &.menu-button {
      font-weight: bold;
    }
  }
  @include hover {
    height: 9em;
    background-color: rgba(47, 112, 187, 0.985);
    .navmenu li:not(:first-child) {
      display: inherit;
    }
    @media screen and (max-width: 1300px) {
      height: 100vh;
    }
  }

  .spacer {
    display: inline-block;
    height: 3em;
    width: 0;
    margin-right: 4em;
  }

  .navmenu {
    display: inline-block;
    padding: 0 0.6em;
    margin: 0 0.4em;
    list-style-type: none;
    li {
      &:not(:first-child) {
        margin: .5em 0;
        display: none;
      }
      @media screen and (max-width: 1300px) {
        display: inherit !important;
      }
      a {
        // padding: 0 ;
        margin: 0;
      }
    }
  }
}

.big-effing-header {
  display: block;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

  margin-top: 0;
  margin-bottom: 0;

  height: 14rem;

  padding: 6rem;

  background-color: $key;

  font-size: 1.6em;

  * {
    color: #fafafa !important;
  }
}


.newspage article:not(:last-child) {
  margin-bottom: 4em;
}

aside {
  // TODO
  display: none;
}

body > footer {
  display: block;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background-color: #333;
  color: #fafafa;
  font-size: 0.87rem;
  padding: 2em;
}

.people {
  .person {
    display: block;
    padding: 0.6em;
    margin-bottom: 2em;
    .name {
      display: block;
      font-weight: bold;
    }
  }
}


article {
  .meta {
    color: #565656;
    font-size: 0.95em;
    & > * {
      margin: 0.7em 0;
    }
  }

  .content {
    margin: 3em 0;
  }
}