{%- for nav in collections.nav -%}
    <li class="nav-item{% if nav.url == page.url %} nav-item-active{% endif %}">
        <a href="{{ nav.url | url }}">{{ nav.data.navtitle if (nav.data.navtitle and (nav.data.navtitle | length > 0)) else nav.title }}</a>
    </li>
{%- endfor -%}