---
---

<div class="big-effing-header">
<h1>The Pupils' Committee of the European School Luxembourg 1</h1>
<h1 class="sub">Keeping promises since 1953!</h1>
</div>
<figure class="parallax-strip">
  <img src="https://picsum.photos/id/1042/1366/300" class="parallax">
</figure>

<p>
  We're the Pupils' Committee. Our job is to represent you and defend your interests and opinions at meetings with the school management. We also organise events for you!
</p>


<% content_for :scripts do %>
<%= javascript_include_tag "parallax" %>
<% end %>
<% content_for :body_class, "homepage" %>